# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnpm/
.pnp/
.cache/

# Output of 'npm pack'
*.tgz

# MacOS files
.DS_Store

# Next.js build output
.next/
out/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.vscode/
*.swp
*.swo

# TypeScript cache
*.tsbuildinfo

# Next.js specific
*.vercel
.vercel/
